* {
    margin: 0;
    padding: 0;
    list-style: none;
}
html {
    font-size: 62.5%;
    font-family: "微软雅黑";
}
.s-content {
    width: 100%;
    //  padding: 0 15%;
    .s-top,
    .s-center,
    .s-bottom {
        margin: 0 auto;
    }
    .s-top {
        width: 70%;
        .s-zf {
            width: 100%;
            .s-zf-t {
                width: 100%;
                display: flex;
                border-bottom: 1px solid darkgray;
                .s-zf-l {
                    width: 50%;
                    display: flex;
                    padding-top: 3%;
                    div {
                        width: 5px;
                        height: 22px;
                        background: red;
                        margin-top: 1%;
                    }
                    p:nth-child(2) {
                        font-size: 2rem;
                    }
                }
                .s-zf-r {
                    width: 50%;
                    margin-top: 3%;
                    p {
                        margin-top: 1%;
                        text-align: right;
                        font-size: 1rem;
                    }
                }
            }
            .s-zf-b {
                width: 100%;
                display: flex;
                dl {
                    width: 25%;
                    margin: 1%;
                    img {
                        width: 100%;
                        border: 1px solid transparent;
                    }
                    img:hover {
                        border: 1px solid red;
                    }
                }
            }
        }
        .s-xf {
            width: 100%;
            .s-xf-t {
                width: 100%;
                display: flex;
                border-bottom: 1px solid darkgray;
                .s-xf-l {
                    width: 50%;
                    display: flex;
                    padding-top: 3%;
                    div {
                        width: 5px;
                        height: 22px;
                        background: red;
                        margin-top: 1%;
                    }
                    p:nth-child(2) {
                        font-size: 2rem;
                    }
                }
                .s-xf-r {
                    width: 50%;
                    margin-top: 3%;
                    p {
                        margin-top: 1%;
                        text-align: right;
                        font-size: 1rem;
                    }
                }
            }
            .s-xf-b {
                width: 100%;
                display: flex;
                dl {
                    width: 25%;
                    margin: 1%;
                    img {
                        width: 100%;
                        border: 1px solid transparent;
                    }
                    img:hover {
                        border: 1px solid red;
                    }
                }
            }
        }
    }
    .s-center {
        width: 70%;
        .s-es-t {
            width: 100%;
            display: flex;
            border-bottom: 1px solid darkgray;
            .s-es-l {
                width: 50%;
                display: flex;
                padding-top: 3%;
                div {
                    width: 5px;
                    height: 22px;
                    background: red;
                    margin-top: 1%;
                }
                p:nth-child(2) {
                    font-size: 2rem;
                }
            }
            .s-es-r {
                width: 50%;
                margin-top: 3%;
                p {
                    margin-top: 1%;
                    text-align: right;
                    font-size: 1rem;
                }
            }
        }
        .s-es-b {
            width: 100%;
            margin-top: 1%;
            display: flex;
            .s-b-l {
                width: 40%;
                img {
                    width: 90%;
                }
            }
            .s-b-r {
                width: 58%;
                display: flex;
                .s-b-r-l {
                    width: 50%;
                    .s-b-r-l-t {
                        width: 100%;
                        padding: 4% 20% 8% 0;
                        display: flex;
                        //  border-right: 1px dashed darkgray;
                        .s-b-r-l-t-l {
                            width: 46%;
                            margin: 1%;
                            img {
                                width: 100%;
                            }
                        }
                        .s-b-r-l-t-r {
                            width: 46%;
                            .price {
                                color: red;
                                font-weight: bold;
                                text-align: right;
                            }
                        }
                    }
                    .s-b-r-l-b {
                        padding-top: 4%;
                        padding-right: 4%;
                        width: 100%;
                        display: flex;
                        border-top: 1px dashed darkgray; //                      border-right: 1px dashed darkgray;
                        .s-b-r-l-t-l {
                            width: 46%;
                            margin: 1%;
                            img {
                                width: 100%;
                            }
                        }
                        .s-b-r-l-t-r {
                            width: 46%;
                            .price {
                                color: red;
                                font-weight: bold;
                                text-align: right;
                            }
                        }
                    }
                }
                .s-b-r-r {
                    width: 50%;
                    .s-b-r-l-t {
                        width: 100%;
                        padding: 4% 4% 8% 12%;
                        display: flex;
                        border-left: 1px dashed darkgray;
                        .s-b-r-l-t-l {
                            width: 46%;
                            margin: 1%;
                            img {
                                width: 100%;
                            }
                        }
                        .s-b-r-l-t-r {
                            width: 46%;
                            .price {
                                color: red;
                                font-weight: bold;
                                text-align: right;
                            }
                        }
                    }
                    .s-b-r-l-b {
                        padding-top: 4%;
                        padding-left: 12%;
                        width: 100%;
                        display: flex;
                        border-top: 1px dashed darkgray;
                        border-left: 1px dashed darkgray;
                        .s-b-r-l-t-l {
                            width: 46%;
                            margin: 1%;
                            img {
                                width: 100%;
                            }
                        }
                        .s-b-r-l-t-r {
                            width: 46%;
                            .price {
                                color: red;
                                font-weight: bold;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
    .s-bottom {
        width: 70%;
        margin-top: 2%;
        display: flex;
        .s-b-div {
            width: 25%;
            display: flex;
            >p {
                width: 50%;
                font-size: 3rem;
                img {
                    width: 50%;
                    vertical-align: middle;
                }
            }
            >div {
                width: 50%;
                padding: 7% 0;
                >p {
                    font-size: 1.3rem;
                    color: darkgray;
                }
            }
        }
    }
}
.f-c {
    color: darkgray;
}