<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/jquery.3.1.1.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/shenqing.css" />
</head>

<body>
<div class="q-content">
    <div class="q-c-l">

        <div class="q-hui">
            <img src="./images/vipTitlebg.jpg" /><span>会员中心</span>
        </div>
        <ul class="q-zhang">
            <li class="q-z-t">
                <img src="./images/vipicon3.jpg" /><span>账户设置</span>
            </li>

            <li>我的资料</li>
            <li>账户密码设置</li>

            <li class="q-z-t">
                <img src="./images/vipicon1.jpg" /><span>我的邻居大妈</span>
            </li>

            <li>关注房源</li>
            <li>申请社区自由经纪人</li>
            <li class="q-on">社区自由经纪人</li>

        </ul>

    </div>
    <div class="q-c-r">
        <div class="q-item">
            我是第1页
        </div>
        <div class="q-item">
            <div class="q-div1">
                <div><h4>修改头像</h4></div>
                <div>
                    <div><img src="./images/tx.jpg" alt=""></div>
                    <div>
                        <p>点击选择文件上传照片</p>
                        <p><input type="file" value="上传"></p>
                        <p>图片格式：GIF、JPG、JPEG、PNG，最适合尺寸100*100像素</p>
                    </div>
                </div>
                <div><h4>修改资料</h4></div>
                <table>
                    <tr>
                        <td>手机号</td>
                        <td>18521032517 <span>(修改手机号)</span></td>
                    </tr>
                    <tr>
                        <td><span>*</span>昵称</td>
                        <td><input type="text" value="185****2571"></td>
                    </tr>
                    <tr>
                        <td><span>*</span>性别</td>
                        <td>
                            <input type="radio" checked="checked" name="nv" >女
                            <input type="radio" name="nv">男
                        </td>
                    </tr>
                    <tr>
                        <td>年龄</td>
                        <td><input type="text" value="0"></td>
                    </tr>
                    <tr>
                        <td>QQ</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>个性签名</td>
                        <td><textarea name="" id="" cols="30" rows="10"></textarea>
                            <p>(128字符以内)</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button>完成修改</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="q-item">
                <p class="q-p">修改资料</p>
                <form action="">

                    <table>

                        <tr>
                            <td>原手机号:</td>
                            <td><b>18521032517</b></td>
                        </tr>
                        <tr>
                            <td>账号:</td>
                            <td><input type="text" placeholder="不少于3位中文即可"  /></td>
                        </tr>
                        <tr>
                            <td>新密码:</td>
                            <td><input type="password" placeholder="不少于6位"  /></td>
                        </tr>
                        <tr>
                            <td>重复新密码:</td>
                            <td><input type="password" placeholder="不少于6位"  /></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;"><button>完成修改</button></td>

                        </tr>
                    </table>
                </form>
        </div>
        <div class="q-item">
            我是第4页
        </div>
        <div class="q-item">
                <p class="q-p">关注房源</p>
                <div>
                    <ul>
                        <li class="q-in">租房</li>
                        <li>新房</li>
                        <li>二手房</li>
                    </ul>
                </div>

                <div class="q-g-c">
                    <div class="q-c">
                        <div class="q-box">

                            <div class="q-cg-l">

                                <!--左边-->
                                <div>
                                    <img src="images/fang1.jpg" />
                                </div>

                                <!--右边-->
                                <div>
                                    <p>甘露园南里一区</p>
                                    <p>朝阳 - 甘露园 - 甘露园南里一区</p>
                                    <p>2室1厅1卫 | 70.0平米 | 南</p>
                                    <p>关注时间：2015-12-03 15:20:13<button>取消关注</button></p>
                                </div>
                            </div>
                            <div class="q-c-r">
                                ￥3014元/月
                            </div>

                        </div>

                        <div class="q-box">

                            <div class="q-cg-l">

                                <!--左边-->
                                <div>
                                    <img src="images/fang2.jpg" />
                                </div>

                                <!--右边-->
                                <div>
                                    <p>甘露园南里一区</p>
                                    <p>朝阳 - 甘露园 - 甘露园南里一区</p>
                                    <p>2室1厅1卫 | 70.0平米 | 南</p>
                                    <p>关注时间：2015-12-03 15:20:13<button>取消关注</button></p>
                                </div>
                            </div>
                            <div class="q-c-r">
                                ￥3014元/月
                            </div>

                        </div>
                    </div>
                    <div class="q-c">
                        <div class="q-box">

                            <div class="q-cg-l">

                                <!--左边-->
                                <div>
                                    <img src="images/fang3.jpg" />
                                </div>

                                <!--右边-->
                                <div>
                                    <p>甘露园南里一区</p>
                                    <p>朝阳 - 甘露园 - 甘露园南里一区</p>
                                    <p>2室1厅1卫 | 70.0平米 | 南</p>
                                    <p>关注时间：2015-12-03 15:20:13<button>取消关注</button></p>
                                </div>
                            </div>
                            <div class="q-c-r">
                                ￥3014元/月
                            </div>

                        </div>

                        <div class="q-box">

                            <div class="q-cg-l">

                                <!--左边-->
                                <div>
                                    <img src="images/fang4.jpg" />
                                </div>

                                <!--右边-->
                                <div>
                                    <p>甘露园南里一区</p>
                                    <p>朝阳 - 甘露园 - 甘露园南里一区</p>
                                    <p>2室1厅1卫 | 70.0平米 | 南</p>
                                    <p>关注时间：2015-12-03 15:20:13<button>取消关注</button></p>
                                </div>
                            </div>
                            <div class="q-c-r">
                                ￥3014元/月
                            </div>

                        </div>
                    </div>
                    <div class="q-c">
                        <div class="q-box">

                            <div class="q-cg-l">

                                <!--左边-->
                                <div>
                                    <img src="images/fang5.jpg" />
                                </div>

                                <!--右边-->
                                <div>
                                    <p>甘露园南里一区</p>
                                    <p>朝阳 - 甘露园 - 甘露园南里一区</p>
                                    <p>2室1厅1卫 | 70.0平米 | 南</p>
                                    <p>关注时间：2015-12-03 15:20:13<button>取消关注</button></p>
                                </div>
                            </div>
                            <div class="q-c-r">
                                ￥3014元/月
                            </div>

                        </div>

                        <div class="q-box">

                            <div class="q-cg-l">

                                <!--左边-->
                                <div>
                                    <img src="images/fang1.jpg" />
                                </div>

                                <!--右边-->
                                <div>
                                    <p>甘露园南里一区</p>
                                    <p>朝阳 - 甘露园 - 甘露园南里一区</p>
                                    <p>2室1厅1卫 | 70.0平米 | 南</p>
                                    <p>关注时间：2015-12-03 15:20:13<button>取消关注</button></p>
                                </div>
                            </div>
                            <div class="q-c-r">
                                ￥3014元/月
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        <div class="q-item">
            <form action="">
                <table >

                    <tr>
                        <td>手机号</td>
                        <td>18521032517 <span>(修改手机号)</span></td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>昵称</td>
                        <td><input type="text" value="185****2571"></td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>性别</td>
                        <td>
                            <input type="radio" checked="checked" name="nv">女
                            <input type="radio" name="nv">男
                        </td>
                    </tr>
                    <tr>
                        <td>年龄</td>
                        <td><input type="text" value="0"></td>
                    </tr>
                    <tr>
                        <td>QQ</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>个性签名</td>
                        <td><textarea name=""  cols="30" rows="5"></textarea>
                            <p>(128字符以内)</p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button>完成修改</button></td>
                    </tr>

                    <tr>
                        <td><span style="color:red">*</span>显示个人电话</td>
                        <td>
                            <input type="radio" checked="checked" name="shi" />是
                            <input type="radio" name="shi" />否 （是否允许前台显示个人电话,不允许我们将提供400转接服务）

                        </td>

                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>选择服务商圈</td>
                        <td>
                            <select>
                                <option>丰台</option>
                                <option>朝阳</option>
                                <option>海淀</option>
                                <option>昌平</option>
                            </select>
                            <select>
                                <option>奥运村</option>
                                <option>西坨</option>
                                <option>八里庄</option>
                                <option>沙河</option>
                            </select>
                            <p>最多三个商圈 (再增加一个商圈)</p>
                        </td>

                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>性&nbsp;&nbsp;&nbsp;别</td>
                        <td>
                            <input type="radio" checked="checked" name="shi" />男
                            <input type="radio" name="shi" />女

                        </td>

                    </tr>

                    <tr>
                        <td>年&nbsp;&nbsp;龄</td>
                        <td><input type="text" name=""  value="0" /></td>
                    </tr>
                    <tr>
                        <td>省份证信息</td>
                        <td><input type="text" name=""  value="" /></td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>真实姓名</td>
                        <td><input type="text" name=""  value="" /></td>
                    </tr>

                    <tr>
                        <td>学习证明</td>
                        <td><input type="text" name=""  value="" /></td>
                    </tr>
                    <tr>
                        <td>Q&nbsp;Q</td>
                        <td><input type="text" name=""  value="" /></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="q-item" style="display: block;">

            <p  class="q-p">社区自由经纪人</p>
            <div>
                <p ><img src="./images/tx.jpg" alt="" /></p>
                <ul>
                    <li>个体 秋枫<img  src="./images/phone.jpg" alt="" />18522103251</li>
                    <li><img class="img1"   src="./images/wuxing.jpg"/><span><img    class="img2"   src="./images/xunzhang.jpg" alt="" /></span></li>
                    <li>上海市-智慧园-二手房</li>
                </ul>
            </div>


            <div>
                <p ><img src="./images/tx.jpg" alt="" /></p>
                <ul>
                    <li>个体 秋枫<img  src="./images/phone.jpg" alt="" />18522103251</li>
                    <li><img class="img1"   src="./images/wuxing.jpg"/><span><img    class="img2"   src="./images/xunzhang.jpg" alt="" /></span></li>
                    <li>上海市-智慧园-二手房</li>
                </ul>
            </div>

            <div>
                <p ><img src="./images/tx.jpg" alt="" /></p>
                <ul>
                    <li>个体 秋枫<img  src="./images/phone.jpg" alt="" />18522103251</li>
                    <li><img class="img1"   src="./images/wuxing.jpg"/><span><img    class="img2"   src="./images/xunzhang.jpg" alt="" /></span></li>
                    <li>上海市-智慧园-二手房</li>
                </ul>
            </div>


            <div>
                <p ><img src="./images/tx.jpg" alt="" /></p>
                <ul>
                    <li>个体 秋枫<img  src="./images/phone.jpg" alt="" />18522103251</li>
                    <li><img class="img1"   src="./images/wuxing.jpg"/><span><img    class="img2"   src="./images/xunzhang.jpg" alt="" /></span></li>
                    <li>上海市-智慧园-二手房</li>
                </ul>
            </div>


            <div>
                <p ><img src="./images/tx.jpg" alt="" /></p>
                <ul>
                    <li>个体 秋枫<img  src="./images/phone.jpg" alt="" />18522103251</li>
                    <li><img class="img1"   src="./images/wuxing.jpg"/><span><img    class="img2"   src="./images/xunzhang.jpg" alt="" /></span></li>
                    <li>上海市-智慧园-二手房</li>
                </ul>
            </div>


            <div>
                <p ><img src="./images/tx.jpg" alt="" /></p>
                <ul>
                    <li>个体 秋枫<img  src="./images/phone.jpg" alt="" />18522103251</li>
                    <li><img class="img1"   src="./images/wuxing.jpg"/><span><img    class="img2"   src="./images/xunzhang.jpg" alt="" /></span></li>
                    <li>上海市-智慧园-二手房</li>
                </ul>
            </div>


            <div>
                <p ><img src="./images/tx.jpg" alt="" /></p>
                <ul>
                    <li>个体 秋枫<img  src="./images/phone.jpg" alt="" />18522103251</li>
                    <li><img class="img1"   src="./images/wuxing.jpg"/><span><img    class="img2"   src="./images/xunzhang.jpg" alt="" /></span></li>
                    <li>上海市-智慧园-二手房</li>
                </ul>
            </div>

        </div>
    </div>
</div>

</body>
<script>
    $(".q-zhang li:not('.q-z-t')").click(function() {
        $ind = $(this).index();
        $(this).addClass("q-on");
        $(this).siblings().removeClass("q-on");

        $(".q-item").eq($ind).show();
        $(".q-item").eq($ind).siblings().hide();

    })
    $(".q-item:nth-child(5) ul li").click(function() {
        $ind = $(this).index();
        $(this).addClass("q-in");
        $(this).siblings().removeClass("q-in");
        $(".q-c").eq($ind).show();
        $(".q-c").eq($ind).siblings().hide();
    })
</script>

</html>