<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<meta charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="css/index.css" />

	</head>

	<body>

		<div class="s-content">
			<div class="s-top">
				<div class="s-zf">
					<div class="s-zf-t">
						<div class="s-zf-l">
							<div></div>
							<p>租房</p>
						</div>
						<div class="s-zf-r">
							<p>更多>></p>
						</div>
					</div>

					<div class="s-zf-b">
						<dl>
							<dt>
								<a href="tiaozhuan.html">
									<img src="images/fang1.jpg"/>
								</a>
							</dt>
							<dd>
								<h3><a href="tiaozhuan.html"></a>虹桥乐亭</h3>
								<div class="f-c">3室2厅2卫 | 147m² | 精装修</div>
							</dd>
						</dl>
						<dl>
							<dt><a href="tiaozhuan.html">
									<img src="images/fang2.jpg" />
								</a></dt>
							<dd>
								<h3><a href="tiaozhuan.html"></a>静安豪景</h3>
								<div class="f-c">3室2厅2卫 | 147m² | 精装修</div>
							</dd>
						</dl>
						<dl>
							<dt><a href="tiaozhuan.html">
									<img src="images/fang3.jpg" /></a></dt>
							<dd>
								<h3><a href="tiaozhuan.html">
										
									</a>中凯城市之光(静安)</h3>
								<div class="f-c">3室2厅2卫 | 147m² | 精装修</div>
							</dd>
						</dl>
						<dl>
							<dt><a href="tiaozhuan.html">
									<img src="images/fang4.jpg" />
								</a></dt>
							<dd>
								<h3><a href="tiaozhuan.html"></a>水塘小区</h3>
								<div class="f-c">3室2厅2卫 | 147m² | 精装修</div>
							</dd>
						</dl>

					</div>

				</div>

				<div class="s-xf">
					<div class="s-xf-t">
						<div class="s-xf-l">
							<div></div>
							<p>新房</p>
						</div>
						<div class="s-xf-r">
							<p>更多>></p>
						</div>
					</div>

					<div class="s-xf-b">
						<dl>
							<dt>
								<a href="tiaozhuan.html">
									<img src="images/fang5.jpg"/>
								</a>
							</dt>
							<dd>
								<h3><a href="proinfo.html"></a>虹桥乐亭</h3>
								<div class="f-c">3室2厅2卫 | 147m² | 精装修</div>
							</dd>
						</dl>
						<dl>
							<dt><a href="tiaozhuan.html"><img src="images/fang6.jpg" /></a></dt>
							<dd>
								<h3><a href="proinfo.html"></a>静安豪景</h3>
								<div class="f-c">3室2厅2卫 | 147m² | 精装修</div>
							</dd>
						</dl>
						<dl>
							<dt><a href="tiaozhuan.html"><img src="images/fang7.jpg" /></a></dt>
							<dd>
								<h3><a href="proinfo.html"></a>中凯城市之光(静安)</h3>
								<div class="f-c">3室2厅2卫 | 147m² | 精装修</div>
							</dd>
						</dl>
						<dl>
							<dt><a href="tiaozhuan.html"><img src="images/fang8.jpg" /></a></dt>
							<dd>
								<h3><a href="proinfo.html"></a>水塘小区</h3>
								<div class="f-c">3室2厅2卫 | 147m² | 精装修</div>
							</dd>
						</dl>

					</div>

				</div>
			</div>

			<div class="s-center">

				<div class="s-es-t">
					<div class="s-es-l">
						<div></div>
						<p>二手房</p>
					</div>
					<div class="s-es-r">
						<p>更多>></p>
					</div>
				</div>

				<div class="s-es-b">
					<div class="s-b-l">
						<a href="tiaozhuan.html">
							<img src="images/fang6.jpg" alt="" />
						</a>
					</div>

					<div class="s-b-r">
						<div class="s-b-r-l">

							<div class="s-b-r-l-t">
								<div class="s-b-r-l-t-l">
									<a href="tiaozhuan.html">
										<img src="images/fang1.jpg" alt="" />
									</a>
								</div>

								<div class="s-b-r-l-t-r">
									<h2>浦东新区张江日水安华苑</h2>
									<p>习近平强调，中方重视发展中南中方重</p>
									<p>视发展中南“同志加兄弟”的特殊关</p>
									<p>系。双方要坚持做</p>
									<p class="price">¥2890</p>
								</div>
							</div>

							<div class="s-b-r-l-b">
								<div class="s-b-r-l-t-l">
									<a href="tiaozhuan.html">
										<img src="images/fang2.jpg" alt="" />
									</a>
								</div>

								<div class="s-b-r-l-t-r">
									<h2>浦东新区张江日水安华苑</h2>
									<p>习近平强调，中方重视发展中南中方重</p>
									<p>视发展中南“同志加兄弟”的特殊关</p>
									<p>系。双方要坚持做</p>
									<p class="price">¥2890</p>
								</div>
							</div>

						</div>

						<div class="s-b-r-r">
							<div class="s-b-r-l-t">
								<div class="s-b-r-l-t-l">
									<a href="tiaozhuan.html">
										<img src="images/fang3.jpg" alt="" />
									</a>
								</div>

								<div class="s-b-r-l-t-r">
									<h2>浦东新区张江日水安华苑</h2>
									<p>习近平强调，中方重视发展中南中方重</p>
									<p>视发展中南“同志加兄弟”的特殊关</p>
									<p>系。双方要坚持做</p>
									<p class="price">¥2890</p>
								</div>
							</div>

							<div class="s-b-r-l-b">
								<div class="s-b-r-l-t-l">
									<a href="tiaozhuan.html">
										<img src="images/fang4.jpg" alt="" />
									</a>
								</div>

								<div class="s-b-r-l-t-r">
									<h2>浦东新区张江日水安华苑</h2>
									<p>习近平强调，中方重视发展中南中方重</p>
									<p>视发展中南“同志加兄弟”的特殊关</p>
									<p>系。双方要坚持做</p>
									<p class="price">¥2890</p>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
			<div class="s-bottom">
				<div class="s-b-div">
					<p><img src="images/icon1.jpg" alt="" />承诺</p>
					<div>
						<p>真实可信100%真房源</p>
						<p>链家承诺，假一赔百</p>
					</div>
				</div>

				<div class="s-b-div">
					<p><img src="images/icon2.jpg" alt="" />权威</p>
					<div>
						<p>真实可信100%真房源</p>
						<p>链家承诺，假一赔百</p>
					</div>
				</div>

				<div class="s-b-div">
					<p><img src="images/icon3.jpg" alt="" />信赖</p>
					<div>
						<p>真实可信100%真房源</p>
						<p>链家承诺，假一赔百</p>
					</div>
				</div>

				<div class="s-b-div">
					<p><img src="images/icon4.jpg" alt="" />安全</p>
					<div>
						<p>真实可信100%真房源</p>
						<p>链家承诺，假一赔百</p>
					</div>
				</div>
			</div>

		</div>

	</body>

</html>