<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/jquery-3.1.1.js"></script>
		<link rel="stylesheet" type="text/css" href="css/zufang.css" />
	</head>

	<body>
		<div class="y-content">
			<nav>
				<ul class="y-ul">
					<li class="y-li">房源区域:</li>
					<li class="y-on">不限</li>
					<li>智慧园</li>
					<li>立明村</li>
					<li>塘口村</li>
					<li>勤劳村</li>
					<li>芦胜村</li>
					<li>知新村</li>
				</ul>

				<ul class="y-ul1">
					<li class="y-li">租金:</li>
					<li class="y-on" style="width: 75px;">不限</li>
					<li>500-1000</li>
					<li>1001-2000</li>
					<li>2001-3000</li>
					<li>3001-4000</li>

				</ul>

				<ul class="y-ul">
					<li class="y-li">出租方式:</li>
					<li class="y-on">不限</li>
					<li>短租</li>
					<li>长租</li>
					<li>合租</li>
					<li>个人</li>

				</ul>
				<ul class="y-ul">
					<li class="y-li">面积:</li>
					<li class="y-on">不限</li>
					<li>10平方</li>
					<li>20-40平方</li>
					<li>41-60平方</li>
					<li>61-80平方</li>
					<li>100平方以上</li>

				</ul>
				<ul class="y-ul">
					<li class="y-li">放型:</li>
					<li class="y-on">不限</li>
					<li>一室一厅</li>
					<li>两室一厅</li>
					<li>三室一厅</li>
					<li>一室一厅一卫</li>

				</ul>
			</nav>

			<div class="y-nav">
				<ul>
					<li>排序：</li>
					<li class="y-li2" style="color:red">默认</li>
					<li class="y-li2">价格</li>
					<li class="y-li2">最新</li>
				</ul>
			</div>

			<div class="y-nr">

				<div class="y-nr-l">
					<div class="y-nr-l-s">
						<div class="y-nr-l-l">
							<a href="tiaozhuan.html"><img src="images/fang1.jpg" /></a>
						</div>
						<div class="y-nr-l-r">
							<p>中装一室一厅，楼层好，采光足，稀缺房源</p>
							<p><img src="images/icon2.jpg" alt="" /><span>智慧园</span></p>
							<p>一室一厅 38平 南 楼层中部/6层<span>¥ 2890元/月</span></p>
							<p>发布人：张先生 发布时间：2015-12-03</p>
						</div>
					</div>

					<div class="y-nr-l-s">
						<div class="y-nr-l-l">
							<a href="tiaozhuan.html"><img src="images/fang2.jpg" /></a>
						</div>
						<div class="y-nr-l-r">
							<p>中装一室一厅，楼层好，采光足，稀缺房源</p>
							<p><img src="images/icon2.jpg" alt="" /><span>智慧园</span></p>
							<p>一室一厅 38平 南 楼层中部/6层<span>¥ 2890元/月</span></p>
							<p>发布人：张先生 发布时间：2015-12-03</p>
						</div>
					</div>
					<div class="y-nr-l-s">
						<div class="y-nr-l-l">
							<a href="tiaozhuan.html"><img src="images/fang3.jpg" /></a>
						</div>
						<div class="y-nr-l-r">
							<p>中装一室一厅，楼层好，采光足，稀缺房源</p>
							<p><img src="images/icon2.jpg" alt="" /><span>智慧园</span></p>
							<p>一室一厅 38平 南 楼层中部/6层<span>¥ 2890元/月</span></p>
							<p>发布人：张先生 发布时间：2015-12-03</p>
						</div>
					</div>

					<div class="y-nr-l-s">
						<div class="y-nr-l-l">
							<a href="tiaozhuan.html"><img src="images/fang4.jpg" /></a>
						</div>
						<div class="y-nr-l-r">
							<p>中装一室一厅，楼层好，采光足，稀缺房源</p>
							<p><img src="images/icon2.jpg" alt="" /><span>智慧园</span></p>
							<p>一室一厅 38平 南 楼层中部/6层<span>¥ 2890元/月</span></p>
							<p>发布人：张先生 发布时间：2015-12-03</p>
						</div>
					</div>

					<div class="y-nr-l-s">
						<div class="y-nr-l-l">
							<a href="tiaozhuan.html"><img src="images/fang5.jpg" /></a>
						</div>
						<div class="y-nr-l-r">
							<p>中装一室一厅，楼层好，采光足，稀缺房源</p>
							<p><img src="images/icon2.jpg" alt="" /><span>智慧园</span></p>
							<p>一室一厅 38平 南 楼层中部/6层<span>¥ 2890元/月</span></p>
							<p>发布人：张先生 发布时间：2015-12-03</p>
						</div>
					</div>

					<div class="y-nr-l-s">
						<div class="y-nr-l-l">
							<a href="tiaozhuan.html"><img src="images/fang6.jpg" /></a>
						</div>
						<div class="y-nr-l-r">
							<p>中装一室一厅，楼层好，采光足，稀缺房源</p>
							<p><img src="images/icon2.jpg" alt="" /><span>智慧园</span></p>
							<p>一室一厅 38平 南 楼层中部/6层<span>¥ 2890元/月</span></p>
							<p>发布人：张先生 发布时间：2015-12-03</p>
						</div>
					</div>

					<div class="y-nr-l-s">
						<div class="y-nr-l-l">
							<a href="tiaozhuan.html"><img src="images/fang7.jpg" /></a>
						</div>
						<div class="y-nr-l-r">
							<p>中装一室一厅，楼层好，采光足，稀缺房源</p>
							<p><img src="images/icon2.jpg" alt="" /><span>智慧园</span></p>
							<p>一室一厅 38平 南 楼层中部/6层<span>¥ 2890元/月</span></p>
							<p>发布人：张先生 发布时间：2015-12-03</p>
						</div>
					</div>

				</div>
				<div class="y-nr-r">
					<div class="y-nr-r-t">
						<img src="images/icon4.jpg" alt="" /><span>新上房源</span>
					</div>
					<div class="y-nr-r-b">
						<div class="y-nr-r-s">
							<div class="y-nr-r-l">
								<a href="tiaozhuan.html"><img src="images/fang1.jpg" /></a>
							</div>
							<div class="y-nr-r-r">
								<p>中装一室一厅，楼层好</p>
								<p>采光足，稀缺房源</p>
								<p>一室一厅 38平 南 楼层中部/6层</p>
								<p>1100元/月</p>
							</div>
						</div>
						<div class="y-nr-r-s">
							<div class="y-nr-r-l">
								<a href="tiaozhuan.html"><img src="images/fang2.jpg" /></a>
							</div>
							<div class="y-nr-r-r">
								<p>中装一室一厅，楼层好</p>
								<p>采光足，稀缺房源</p>
								<p>一室一厅 38平 南 楼层中部/6层</p>
								<p>1100元/月</p>
							</div>
						</div>
						<div class="y-nr-r-s">
							<div class="y-nr-r-l">
								<a href="tiaozhuan.html"><img src="images/fang3.jpg" /></a>
							</div>
							<div class="y-nr-r-r">
								<p>中装一室一厅，楼层好</p>
								<p>采光足，稀缺房源</p>
								<p>一室一厅 38平 南 楼层中部/6层</p>
								<p>1100元/月</p>
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>
	</body>
	<script>
		$("nav  ul li:not(.y-li)").click(function() {
			$(this).addClass("y-on");
			$(this).siblings().removeClass("y-on");
		})
	</script>

</html>